################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplicationRazor/WebApplicationRazor/bin/Debug/net10.0
