################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplicationRazor/WebApplicationRazor/bin/Debug/net10.0
/WebApplicationRazor/.vs
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/compressed
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/ref/WebApplicationRazor.dll
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/refint/WebApplicationRazor.dll
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/apphost.exe
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/rpswa.dswa.cache.json
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/WebApplicationRazor.AssemblyInfo.cs
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/WebApplicationRazor.AssemblyInfoInputs.cache
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/WebApplicationRazor.dll
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/WebApplicationRazor.pdb
/WebApplicationRazor/WebApplicationRazor/obj/Debug/net10.0/WebApplicationRazor.sourcelink.json
